@font-face {
    font-family: 'open_sansregular';
    src: url('police/opensans-regular-webfont.woff2') format('woff2'),
         url('police/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
p{
    font-size:15px;
    color:red;
}

html{
    height: 100%;
}
body{
    background-color: rgb(204, 197, 190);
    color:rgb(53, 47, 47);
    margin: 0;
    padding: 0;
    min-height: 100%;
    right: 0;
}


.flex a:hover{
    background: rgb(11, 5, 29);
    border: 1px solid rgb(68, 0, 255);
    color: rgb(76, 0, 255);
}

section{
    text-align: center;
    right:0;
}

h2{
    padding:10px;
    font-size:35px;
    text-align: center;
    color: rgb(51, 48, 48);
}

h2:hover{
    background: rgb(180, 180, 174);
    color: rgb(28, 28, 29);
}

.flex{
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    
}
.test{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

.scroll {
    display:none;
    position: fixed;
    bottom : 45px;
    right: 20px;
}

.copy{
    padding: 10px;
    text-align: center;
    color: white;
}
.lienretour {
     font-size: 25px;
     margin-top: 4vh;
     margin-bottom: 3vh;
     text-align: center;
     
}

footer{
    background-color: black;
    height: 50px;
}