nav {
  
    background-color: #333;
    font-family: 'open_sansregular', sans-serif, Arial;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    width: 100%;
    z-index: 1000;
    top: 0;
    position: fixed;
    overflow: visible;
    
  }
  
  li{
      color: white;
      display: inline-block;
      list-style-type: none;
  }
  
  nav a {
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 1vh 1.2vw;
    text-decoration: none;
  }
  
  .dropbtn {
    cursor: pointer;
    font-size: 24px;  
    border: none;
    outline: none;
    color: white;
    padding: 1.5vh 1.5vw;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
  }
  
  nav a:hover, .dropdown:hover .dropbtn, .dropbtn:focus, .yodropdown:hover .btndrop, .btndrop:focus {
    background-color: red;
  }
  
  
  .dropdown-content {
    display: none;
    width: max-content;
    height: max-content;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top:0;
    z-index: 1;
  
  }
  
  nav #avatar{
    width:9vw;
    margin-top: 1vh;
    
  }
  
  nav p{
    font-family: 'open_sansregular', sans-serif, Arial;
    color: black;
    font-size: 18px;
    padding: 0;
    margin: 0;
  }
  .colonne {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    font-size: 18px;
  
  }
  
  .dropdown-content a:hover {
  background-color: #ddd;
  
  }
  
  .show {
    display: inline-flex;
  
  }
  
  
  .btndrop {
    cursor: pointer;
    font-size: 24px;  
    border: none;
    outline: none;
    color: white;
    padding: 1.5vh 1.5vw;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
  }

  .ydropdown-content {
    display: none;
    width: max-content;
    height: max-content;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top:0;
    z-index: 1;
  
  }
  .ydropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    font-size: 18px;
  
  }
  
  .ydropdown-content a:hover {
  background-color: #ddd;
  
  }
  .ishow {
    display: inline-flex;
  
  }