
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

footer {
  background: #101219;
  color: white;
}

.footer {
    padding: 15px 0;
}

a {
  color: #787878;
}

a:hover {
  color: #00aeff;
  text-decoration: none;
}

.separator {
  margin-top: 25px;
  margin-bottom: 8px;
  border-top: 1px solid #ffe000;
}

.footer__title {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.text_footer {
  text-align: center;
  font-size: 14px;
  color: #787878;
}
.container .row p 
{
  text-align: center;
 
}


.body {
 
}